<div class="content-<%= content_block.page.title %>">
  <h4>Work <%= content_block.id %></h4>
  <a href="#"
     class="editable"
     id="content<%= content_block.id %>",

     data-disabled="<%= !content_block.editable %>",
     data-type="textarea",
     data-name="content",
     page="<%= content_block.page.id %>",
     data-url="<%= @page.title %>",
     data-pk="<%= content_block.id %>",
     data-title="Update content">
     <%= content_block.content.html_safe %>
     <%= link_to "Contact me", contact_path %>
  </a>

  <% if logged_in? %>
    <i class="material-icons edit"
       data-pk="<%= content_block.id %>"
       data-page="<%= content_block.page.id %>"
       data-editable="<%= content_block.editable %>"
       id="edit<%= content_block.id %>">edit
    </i>
  <% end %>

</div>
