<li id="post-<%= post.id %>" class="feed-posts">
  <div class="post-feed-flex">
    <div class="post-feed-info">
      <%= link_to post do %>
        <h4 class="post-feed-title"><%= post.title %></h4>
      <% end %>
      <p class="post-feed-byline">By <%= post.user.name %></p>
      <span class="post-feed-timestamp">Posted <%= time_ago_in_words(post.created_at) %> ago.</span>
    </div>
    <div class="post-feed-content">
      <div class="post-feed-photo"><%= image_tag post.picture.url if post.picture? %></div>
      <div class="post-feed-text"><%= truncate_html(post.content.html_safe) %></div>
      <%= link_to "read more", post %>
    </div>
  </div>
</li>
