<div class="post-show" id="post-<%= @post.id %>">
  <h1 class="post-title">
    <%= @post.title %>
  </h1>
  <div class="post-photo"><img src="<%= @post.picture.url if @post.picture %>" /></div>
  <div class="post-info">
    <h3 class="post-byline">
      by <%= @post.user.name %>
    </h3>
  <span class="post-date">
    <%= date = post_time %>
  </span>
  </div>
  <div class="post-content">
    <%= @post.content.html_safe %>
  </div>
  <div class="post-more">
    <ul class="post-more-list">
      <% @previous_posts.each do |post| %>
        <%= link_to post do %>
          <li class="post-more-item">
            <span class="post-more-title"><%= post.title %></span>
            <div class="post-more-picture">
              <img src="<%= post.picture.url if post.picture %>" />
            </div>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>

